site_name: Kubauth

nav:
  - Home: index.md
  - "Installation": 20-installation.md
  - "User guide":
    - "Configuration": 30-user-guide/110-configuration.md
    - "Tokens and Claims": 30-user-guide/120-tokens-and-claims.md
    - "Audit": 30-user-guide/130-audit.md
    - "SSO": 30-user-guide/140-sso.md
    - "Users Groups": 30-user-guide/150-users-groups.md
    - "Password Grant": 30-user-guide/160-password-grant.md
    - "LDAP connector": 30-user-guide/170-ldap-connector.md
    - "Several ID providers": 30-user-guide/180-several-id-providers.md
    - "Identity merging": 30-user-guide/190-identity-merging.md
  - "Applications integration":
      - "ArgoCD": 40-applications-integration/110-argocd.md
      - "Harbor": 40-applications-integration/120-harbor.md
      - "MinIO": 40-applications-integration/130-minio.md
  - "Kubernetes integration":
    - "Introduction": 50-kubernetes-integration/110-introduction.md
    - "API Server configuration": 50-kubernetes-integration/120-api-server-configuration.md
    - "Kubeconfig service": 50-kubernetes-integration/130-kubeconfig-service.md
    - "Workstation setup": 50-kubernetes-integration/140-workstation-setup.md
  - "Appendix":
    - "OpenLDAP deployment": 70-appendix/100-openldap.md

# Add Reference of API (OidcClient, loginAttempts, groups, users, groupBinding, ssosession, ...)
# Add application config (Minio, harbor, ArgoCD, zot,....)


theme:
  #  name: readthedocs
  #  titles_only: false
  #  name: mkdocs
  #  name: windmill-dark
  #  name: gitbook
  #  name: dracula
  name: material
  palette:
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.footer
#    - content.code.copy
#    - content.code.select

extra_css:
  - assets/styles/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details

repo_url: https://github.com/kubauth/kubauth
