site_name: Kubauth

nav:
  - Home: index.md
  - "Installation": installation.md
  - "User guide":
    - "Configuration": user-guide/110-configuration.md
    - "Tokens and Claims": user-guide/120-tokens-and-claims.md
    - "Audit": user-guide/130-audit.md
    - "SSO": user-guide/140-sso.md
    - "Users Groups": user-guide/150-users-groups.md
    - "Password Grant": user-guide/160-password-grant.md
    - "LDAP connector": user-guide/170-ldap-connector.md
    - "Identity chaining": user-guide/180-identity-chaining.md

theme:
  #  name: readthedocs
  #  titles_only: false
  #  name: mkdocs
  #  name: windmill-dark
  #  name: gitbook
  #  name: dracula
  name: material
  palette:
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.footer
#    - content.code.copy
#    - content.code.select

extra_css:
  - assets/styles/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details

repo_url: https://github.com/kubauth/kubauth
