site_name: Kubauth

# Groups
# password grants
# ldap connection


nav:
  - Home: index.md
  - "Installation": 100-installation.md
  - "First logins": 110-first-logins.md
  - "User groups": 120-user-groups.md
  - "Password grant": 130-password-grant.md

theme:
  #  name: readthedocs
  #  titles_only: false
  #  name: mkdocs
  #  name: windmill-dark
  #  name: gitbook
  #  name: dracula
  name: material
  palette:
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.footer
#    - content.code.copy
#    - content.code.select

extra_css:
  - assets/styles/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details

repo_url: https://github.com/kubauth/kubauth
